DATABASE_URL="postgresql://user:password@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
ODDS_API_KEY="tu_llave_de_odds_api"
API_SPORTS_KEY="tu_llave_de_api_football"
SECRET_KEY="tu_llave_secreta_jwt_para_usuarios"
