fastapi
uvicorn
pydantic
pydantic-settings
SQLAlchemy
alembic
psycopg[binary]
psycopg2-binary
httpx
pandas
scikit-learn
xgboost
python-dotenv

understatapi
apscheduler
bcrypt==3.2.0
passlib
python-jose[cryptography]
python-multipart
email-validator
